body{
    background: url(b.jpg) no-repeat;
    background-size: cover;
    color:rgb(160, 197, 214);
}
.search{
    width: 500px;
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%,-50%);
}